apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: quiz-app

resources:
  - namespace.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml

commonLabels:
  app: quiz-app
